<li>
    <a href="/fr/Particuliers" id="enovos_breadcrumb_link_individuals">
        Particuliers
    </a>
</li>
<li>
    <a href="/fr/Particuliers/Production-d-energie" id="enovos_breadcrumb_link_decentral">
        Production d'énergie
    </a>
</li>
<li>
    <a href="/fr/Particuliers/Production-d-energie/enoheat-gas" id="enovos_breadcrumb_link_enoheatgas">
        enoheat gas
    </a>
</li>