<nav class="nav nav-secondary">
    <ul>
        <li><a id="enovos_sidebar_btn_home" class="list-secondary "
               href="/fr/Particuliers"
            >
                <span class="list-content">
                    <i class="ico-sec fa fa-home"></i>Accueil</span>
            </a>
        </li>
        <li>
            <a class="list-secondary"
               id="enovos_sidebar_btn_electricty"
               href="/fr/Particuliers/Electricite">
                <span class="list-content">
                    <i class="ico-sec fa fa-bolt"></i>
                    Electricité
                </span>
            </a>
        </li>
        <li>
            <a class="list-secondary"
               id="enovos_sidebar_btn_gas"
               href="/fr/Particuliers/Gaz-naturel">
                <span class="list-content">
                    <i class="ico-sec fa fa-fire"></i>
                    Gaz naturel
                </span>
            </a>
        </li>
        <li>
            <a class="list-secondary"
               id="enovos_sidebar_btn_efficiency"
               href="/fr/Particuliers/Efficacite-energetique">
                <span class="list-content">
                    <i class="ico-sec fa fa-lightbulb-o"></i>
                    Efficacité énergétique
                </span>
            </a>
        </li>
        <li>
            <a class="list-secondary"
               id="enovos_sidebar_btn_smartapps"
               href="/fr/Particuliers/Smart-Apps">
                <span class="list-content">
                    <i class="ico-sec fa fa-mobile fa-2x"></i>
                    Smart Apps
                </span>
            </a>
        </li>
        <li>
            <a class="list-secondary is-active"
               id="enovos_sidebar_btn_decentral"
               href="/fr/Particuliers/Production-d-energie">
                <span class="list-content">
                    <i class="ico-sec fa fa-globe"></i>
                    Production d&#039;énergie
                </span>
            </a>
        </li>
        <li>
            <a class="list-secondary"
               id="enovos_sidebar_btn_mobility"
               href="/fr/Particuliers/Ecomobilite">
                <span class="list-content">
                    <i class="ico-sec fa fa-car"></i>
                    Ecomobilité
                </span>
            </a>
        </li>
        <li>
            <a class="list-secondary"
               id="enovos_sidebar_btn_help"
               href="/fr/Particuliers/Assistance">
                <span class="list-content">
                    <i class="ico-sec fa fa-info-circle"></i>
                    Assistance
                </span>
            </a>
        </li>
    </ul>
</nav>