<nav class="nav nav-help">
    <ul>
        <li class="sub-list-help">
            <form class="help-search"
                  action="/fr/Recherche"
                  method="get"
                  onsubmit="dataLayer.push({'event': 'enovos.floater.btn.search.'});"
            >
                <button type="submit" id="enovos_floater_btn_search"><i
                            class="ico-help fa fa-search"></i></button>
                <input type="text" class="mr-10" name="q">
            </form>
        </li>
        <li class="sub-list-help">
            <a class="sub-link-help"
               id="enovos_floater_btn_help"
               onclick="dataLayer.push({'event': 'enovos.floater.btn.help.'});"
               href="/fr/Particuliers/Assistance" style="color:white!important;">
                <i class="ico-help fa fa-question-circle-o"></i>
                <span class="title-help">Assistance</span>
            </a>
        </li>
        <li class="sub-list-help">
            <a class="sub-link-help"
               id="enovos_floater_btn_contact"
               onclick="dataLayer.push({'event': 'enovos.floater.btn.contact.'});"
               href="/fr/Particuliers/Contact?from=98"
            >
                <i class="ico-help fa fa-envelope-o"></i><span class="title-help">Contact</span>
            </a>
        </li>
    </ul>
</nav>

<nav class="nav nav-primary">
    <ul class="logo-home">
        <li>
            <a
                    href="/fr/Particuliers"
                    id="enovos_header_logo_enovos"
            >
                <img src="https://www.enovos.lu/bundles/interactenovoswebsite/img/logo-enovos.svg" alt="enovos">
            </a>
        </li>
    </ul>

    <ul class="nav-list-primary">
        <li>
            <a class="list-primary is-active"
               id="enovos_header_link_individuals"
               href="/fr/Particuliers">Particuliers</a>
        </li>
        <li>
            <a class="list-primary"
               id="enovos_header_link_professionals"
               href="/fr/Professionnels">Professionnels</a>
        </li>
        <li>
            <a class="list-primary"
               target="_blank" href="http://enovos1.eu/enovos/fr/industrie">Industrie</a>
        </li>
        <li>
            <a class="list-primary"
               target="_blank" href="http://enovos1.eu/enovos/fr/commune">Commune</a>
        </li>
    </ul>


    <ul class="list-change-langue">


        <li class="dropdown">
            FR
        </li>

        <li class="langue">
            <a
                    id="enovos_header_switch_lang_en"
                    hreflang="en-lu"
                    href="/en/Individuals/Energy-production/enoheat-gas"
            >EN</a>
        </li>
        <li class="langue is-active">
            <a
                    id="enovos_header_switch_lang_fr"
                    hreflang="fr-lu"
                    href="#"
            >FR</a>
        </li>
        <li class="langue">
            <a
                    id="enovos_header_switch_lang_de"
                    hreflang="de-lu"
                    href="/de/Privatkunden/Energieerzeugung/enoheat-gas"
            >DE</a>
        </li>
    </ul>

    <ul class="nav-client">
        <li>
            <a class="btn-connect" href="https://connect.enovosgroup.eu/ucesgroup/frameset_top.sap"
               id="enovos_header_link_myenovos"><i class="fa fa-user"></i>e.connect</a>
        </li>
        <li>
            <a class="btn-client" href="https://my.enovos.lu/"
               id="enovos_header_link_becomeacustomer"><i class="fa fa-plus"></i>Devenir client</a>
        </li>
    </ul>
</nav>

<nav class="nav nav-mobile">
    <div class="nav-menu">
        <i class="fa fa-bars"></i>
    </div>
    <div class="link-logo-mobile">
        <a class="txt-c" href="/"><img src="{{ asset('public/img/logo-enovos-white.svg') }}"
                                       alt="Logo enovos"></a>
    </div>
    <div class="btn-client">
        <a class="link-btn-client upper" href="https://my.enovos.lu/"><i class="fa fa-plus mr-10"></i>Devenir client</a>
    </div>
    <div class="content-menu-mobile">
        <div class="primary-selection">
            <span class="left-over"></span>
            <ul>
                <li>
                    <a class="pmy-link upper is-active"
                       href="/fr/Particuliers">
                        <span>Particuliers</span></a>
                </li>
                <li>
                    <a class="pmy-link upper"
                       href="/fr/Professionnels">
                        <span>Professionnels</span></a>
                </li>
            </ul>

            <span class="right-over"></span>
        </div>
        <ul class="secondary-selection">
            <li><a href="/fr/Particuliers" class="sub-list "><span>Accueil</span></a></li>
            <li>
                <a href="/fr/Particuliers/Electricite" class="sub-list ">
                    <span>Electricité</span>
                </a>
            </li>
            <li>
                <a href="/fr/Particuliers/Gaz-naturel" class="sub-list ">
                    <span>Gaz naturel</span>
                </a>
            </li>
            <li>
                <a href="/fr/Particuliers/Efficacite-energetique" class="sub-list ">
                    <span>Efficacité énergétique</span>
                </a>
            </li>
            <li>
                <a href="/fr/Particuliers/Smart-Apps" class="sub-list ">
                    <span>Smart Apps</span>
                </a>
            </li>
            <li>
                <a href="/fr/Particuliers/Production-d-energie" class="sub-list  is-active">
                    <span>Production d&#039;énergie</span>
                </a>
            </li>
            <li>
                <a href="/fr/Particuliers/Ecomobilite" class="sub-list ">
                    <span>Ecomobilité</span>
                </a>
            </li>
            <li>
                <a href="/fr/Particuliers/Assistance" class="sub-list ">
                    <span>Assistance</span>
                </a>
            </li>
        </ul>
        <hr>

        <ul class="col-footer">

            <li>
                <a class="list-footer"
                   id="enovos_footer_link_privacypolicy"
                   href="/fr/Particuliers/f/Politique-de-confidentialite">Politique de confidentialité</a>
            </li>


            <li>
                <a class="list-footer"
                   id="enovos_footer_link_renewables"
                   href="/fr/Particuliers/f/Energies-renouvelables">Energies renouvelables</a>
            </li>


            <li>
                <a class="list-footer"
                   id="enovos_footer_link_fnn"
                   href="/fr/Particuliers/f/fonds-nova-naturstroum">fonds nova naturstroum</a>
            </li>


            <li>
                <a class="list-footer"
                   id="enovos_footer_link_multimedia"
                   href="/fr/Particuliers/f/Galeries-multimedia">Galeries multimédia</a>
            </li>


            <li>
                <a class="list-footer"
                   id="enovos_footer_link_documents"
                   href="/fr/Particuliers/f/Documents-et-formulaires">Documents et formulaires</a>
            </li>


            <li>
                <a class="list-footer"
                   id="enovos_footer_link_news"
                   href="/fr/Particuliers/f/Actualites">Actualités</a>
            </li>

        </ul>


        <ul class="col-footer">

            <li>
                <a class="list-footer"
                   id="enovos_footer_link_aboutus"
                   href="/fr/Particuliers/f/A-propos-de-nous">A propos de nous</a>
            </li>


            <li>
                <a class="list-footer"
                   id="enovos_footer_link_generalterms"
                   href="/fr/Particuliers/f/Conditions-generales-d-utilisation">Conditions générales d&#039;utilisation</a>
            </li>


            <li>
                <a class="list-footer"
                   id="enovos_footer_link_jobs"
                   href="/fr/Particuliers/f/Jobs">Jobs</a>
            </li>


            <li>
                <a class="list-footer"
                   href="/fr/Particuliers/f/Dites-OUI-a-Enovos">Dites OUI à Enovos</a>
            </li>


            <li>
                <a class="list-footer"
                   id="enovos_footer_link_contact"
                   href="/fr/Particuliers/Contact">
                    Contact
                </a>
            </li>


            <li>
                <a class="list-footer"
                   href="/fr/Particuliers/Assistance/GDPR">
                    Notice GDPR
                </a>
            </li>

        </ul>


        <ul class="fourty-selection">
            <li class="search-mobile-icon sub-list-four">
                <i class="ico-mobile fa fa-search"></i><span>Recherche</span>
            </li>
            <li>
                <form class="search-mobile" action="/fr/Recherche">
                    <input type="text" name="q">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </li>
            <li class="sub-list-four">
                <a class="contact" href="/fr/Industrie/Contact">
                    <i class="ico-mobile fa fa-envelope"></i><span>Contact</span>
                </a>
            </li>
            <li class="sub-list-four"><a class="e-connect upper"
                                         href="https://connect.enovosgroup.eu/ucesgroup/frameset_top.sap"><i
                            class="ico-mobile fa fa-user mr-10"></i><span>E.connect</span></a></li>

            <li class="sub-list-four">
                <div class="content-select-langue">
                    <i class="ico-mobile fa fa-flag"></i><span></span>
                    <ul class="langue-list">
                        <li><a hreflang="en-lu"
                               href="/en/Individuals/Energy-production/enoheat-gas"
                            >
                                EN
                            </a>
                        </li>
                        <li><a hreflang="fr-lu"
                               href="#"
                               class="is-selected">
                                FR
                            </a>
                        </li>
                        <li><a hreflang="de-lu"
                               href="/de/Privatkunden/Energieerzeugung/enoheat-gas"
                            >
                                DE
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>
</nav>