<div class="row">
    <div class="container">
        <div class="col-row">

            <ul class="col-footer">

                <li>
                    <a class="list-footer"
                       id="enovos_footer_link_privacypolicy"
                       href="/fr/Particuliers/f/Politique-de-confidentialite">Politique de
                        confidentialité</a>
                </li>


                <li>
                    <a class="list-footer"
                       id="enovos_footer_link_renewables"
                       href="/fr/Particuliers/f/Energies-renouvelables">Energies renouvelables</a>
                </li>


                <li>
                    <a class="list-footer"
                       id="enovos_footer_link_fnn"
                       href="/fr/Particuliers/f/fonds-nova-naturstroum">fonds nova naturstroum</a>
                </li>


                <li>
                    <a class="list-footer"
                       id="enovos_footer_link_multimedia"
                       href="/fr/Particuliers/f/Galeries-multimedia">Galeries multimédia</a>
                </li>


                <li>
                    <a class="list-footer"
                       id="enovos_footer_link_documents"
                       href="/fr/Particuliers/f/Documents-et-formulaires">Documents et formulaires</a>
                </li>


                <li>
                    <a class="list-footer"
                       id="enovos_footer_link_news"
                       href="/fr/Particuliers/f/Actualites">Actualités</a>
                </li>

            </ul>


            <ul class="col-footer">

                <li>
                    <a class="list-footer"
                       id="enovos_footer_link_aboutus"
                       href="/fr/Particuliers/f/A-propos-de-nous">A propos de nous</a>
                </li>


                <li>
                    <a class="list-footer"
                       id="enovos_footer_link_generalterms"
                       href="/fr/Particuliers/f/Conditions-generales-d-utilisation">Conditions générales d&#039;utilisation</a>
                </li>


                <li>
                    <a class="list-footer"
                       id="enovos_footer_link_jobs"
                       href="/fr/Particuliers/f/Jobs">Jobs</a>
                </li>


                <li>
                    <a class="list-footer"
                       href="/fr/Particuliers/f/Dites-OUI-a-Enovos">Dites OUI à Enovos</a>
                </li>


                <li>
                    <a class="list-footer"
                       id="enovos_footer_link_contact"
                       href="/fr/Particuliers/Contact">
                        Contact
                    </a>
                </li>


                <li>
                    <a class="list-footer"
                       href="/fr/Particuliers/Assistance/GDPR">
                        Notice GDPR
                    </a>
                </li>

            </ul>


        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <p class="copyright">Copyright 2018 ENOVOS - Tous droits réservés</p>
        <ul class="nav-reseaux-sociaux">
            <li><a class="list-actu-sociaux" href="https://facebook.com/EnovosLuxembourg"
                   id="enovos_footer_btn_facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a class="list-actu-sociaux" href="https://de.linkedin.com/company/enovos-luxembourg-sa"
                   id="enovos_footer_btn_linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="list-actu-sociaux" href="https://www.youtube.com/user/EnovosLuxembourg"
                   id="enovos_footer_btn_youtube"><i class="fa fa-youtube"></i></a></li>
        </ul>
    </div>
</div>